/* this is the Twee-fi css file */
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.starter-bar {
  padding: 2rem .5rem;
  text-align: center;
  background-color: #d9bbff;
}

.retrived-tweet {
  margin-top: 2rem;
  min-height: 7rem;
  min-width: 7rem;
  background-color: papayawhip;
}

.fa-star {
  font-size: 2rem;
  color: #F5E647;
}

.fa-star-o {
  font-size: 2rem;
  color: #F5E647;
}

.fa-trash-o {
  font-size: 2rem;
  color: grey;
}

.rating-clear {
  opacity: .3;
  transition:opacity 0.8s linear;
}

.rating-clear:hover {
  opacity: 1;
  
}

#claimreview_text {
    background-color: aliceblue;
}

.first-item {
  margin-left: 132px
}

#pop_claim {
    color:#FFFFFF;
}

.nav-pills.nav-wizard > li
{
    position: relative;
    overflow: visible;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    font-size: 1rem;
}

    .nav-pills.nav-wizard > li + li
    {
        margin-left: 0;
    }

    .nav-pills.nav-wizard > li:first-child
    {
        border-left: 0;
    }

        .nav-pills.nav-wizard > li:first-child a
        {
            border-radius: 5px 0 0 5px;
        }

    .nav-pills.nav-wizard > li:last-child
    {
        border-right: 0;
    }

        .nav-pills.nav-wizard > li:last-child a
        {
            border-radius: 0 5px 5px 0;
        }

    .nav-pills.nav-wizard > li a
    {
        border-radius: 0;
        background-color: #eee;
    }

    .nav-pills.nav-wizard > li:not(:last-child) a:after
    {
        position: absolute;
        content: "";
        top: 0px;
        right: -25px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 24px 0 26px 27px;
        border-color: transparent transparent transparent #eee;
        z-index: 150;
    }

    .nav-pills.nav-wizard > li:not(:first-child) a:before
    {
        position: absolute;
        content: "";
        top: 0px;
        left: -27px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 24px 0 26px 27px;
        border-color: #eee #eee #eee transparent;
        z-index: 150;
    }

    .nav-pills.nav-wizard > li:hover:not(:last-child) a:after
    {
        border-color: transparent transparent transparent #aaa;
    }

    .nav-pills.nav-wizard > li:hover:not(:first-child) a:before
    {
        border-color: #aaa #aaa #aaa transparent;
    }

    .nav-pills.nav-wizard > li:hover a
    {
        background-color: #aaa;
        color: #fff;
    }

    .nav-pills.nav-wizard > li:not(:last-child) a.active:after
    {
        border-color: transparent transparent transparent #428bca;
    }

    .nav-pills.nav-wizard > li:not(:first-child) a.active:before
    {
        border-color: #428bca #428bca #428bca transparent;
    }

    .nav-pills.nav-wizard > li a.active
    {
        background-color: #428bca;
    }