<div class="card review my-3">
  <div class="card-body row">
    <div class="col-5 py-0 m-0">
      {{{tweetBlockquote}}}
    </div>
    <div class="col-7">
      <h5 card-title>Claim</h5>
      <p class="card-text">{{claim}}</p>
      <hr>
      <h5 class="card-title">Review</h5>
      {{{stars}}}
      <p class="card-text">{{review}}</p>
    </div>
  </div>
    <div class="card-footer text-right">
      <a class="permalink btn btn-sm btn-primary mr-2" href="{{{uri}}}">Permalink</a>
      <button onclick="deleteReview(this)" class="delete btn btn-sm btn-warning text-white" value="{{uri}}">Delete</button>
    </div>
</div>